<h2>Create a New Album</h2>
<form action="/albums" method="post">
  <label for="albums-name">name:</label>
  <input id="albums-artist" type="text" name="artist">
  <label for="albums-release_date">release_date:</label>
  <input id="albums-genre" type="text" name="genre">
  <input type="submit">
</form>