<header>
  <h1><a id="logo" href="/albums">Tune.ly</a></h1>
		{{#if user.fb.id}}
			<a href="/logout">Logout</a>
		{{else}}
  		<a id="login" href="/auth/facebook">FaceBook Login</a>
		{{/if}}	
</header>
