<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <!-- the below `triple-stash`, avoid handlebars escaping any html -->
   {{{body}}}
  </body>
</html>